<article class="sessions-new">

    <%= form_with url: :sessions, local: true do |f| %>

        <div>
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
        <div>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

    <%= f.submit value: "Sign In!" %>

    <% end %>

</article>