<article class="sessions-new">

    <h1 class="heading">Sign In</h1>

    <%= form_with url: :sessions, local: true, class: "form" do |f| %>

        <div class="form-input">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
        <div class="form-input">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

    <%= f.submit value: "Sign In!", class: "submit" %>

    <% end %>

</article>