<div class="errors">
    <% if @idea.errors.any? %>
        <ul>
            <% @idea.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>   
            <% end %>
        </ul>
    <% end %>
</div>
    
<%= form_for @idea, class: "form" do |f| %>

    <div class="form-input">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="form-input">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <%= f.submit class: "submit" %>

<% end %>
  